@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html {
  font-size: 62.5%;
}

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: auto;
}

input,
textarea {
  width: 100%;
  padding: 10px 15px 10px 25px;
  border: 2px solid #e2e2e2;
  border-radius: 3px;
  font-size: 1.6rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #727171;
}

button,
.button {
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  color: #fff;
  background-color: var(--color-bg-dark-2);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    transform: translateY(-2px) scale(1.03);
  }

  &:active {
    transform: translateY(0) scale(1);
  }
}

button.ghost {
  background-color: #e1e1e1;
  color: #000;
}

::placeholder {
  font-size: 14px;
  color: var(--color-bg-gray-1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-layout);
  z-index: 100;
}

.error-msg {
  color: var(--color-error);
}

// auth's view pages style
.auth-wrapper {
  padding: 8rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.1)
    ),
    url("../../assets/img/register-bg.jpg");
  background-position: center;
  background-size: cover;
}
