:root {
  --color-bg-dark-1: #191919;
  --color-bg-dark-2: #303030;
  --color-bg-dark-3: #1f2937;
  --color-bg-gray-1: #757575;
  --color-bg-white-1: #f2f2f2;
  --color-layout: rgba(0, 0, 0, 0.15);
}

$bp-sm: 40em; // 640px
$bp-md: 48em; // 768px
$bp-lg: 64em; // 1024px
$bp-xl: 80em; // 1280px
$bp-2xl: 96em; // 1536px
