:root {
  --color-dark-1: #191919;
  --color-dark-2: #303030;
  --color-dark-3: #1f2937;
  --color-gray-1: #757575;
  --color-gray-2: #d5d5d5;
  --color-gray-3: #ada4a4;
  --color-shadow: rgba(0, 0, 0, 0.25);
  --color-border: rgba(0, 0, 0, 0.05);
  --color-error: #e74c4cef;
  --color-link-hover: #117096;
  --z-index-10: 10;
  --z-index-20: 20;
  --z-index-100: 100;
  --z-index-200: 200;
  --z-index-max: 1000;
}

$bp-iphone-sm: 21em; //334px
$bp-iphone-ten: 23em; //375px
$bp-sm: 40em; // 640px
$bp-md: 48em; // 768px
$bp-lg: 64em; // 1024px
$bp-xl: 80em; // 1280px
$bp-2xl: 96em; // 1536px
