@keyframes zoom-in {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    opacity: 0.8;
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    opacity: 0.8;
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-right-menu {
  0% {
    transform: translateX(-25rem);
  }

  100% {
    transform: translateX(0rem);
  }
}
