html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  word-break: break-all;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -100;
  // 讓background-image使用的圖片預先載入
  content: url("~@/assets/img/my-favorite-bg.jpg")
    url("~@/assets/img/my-story-bg.jpg") url("~@/assets/img/register-bg.jpg")
    url("~@/assets/img/home-cover.jpg");
}

input,
textarea {
  width: 100%;
  padding: 10px 15px 10px 25px;
  border: 2px solid #e2e2e2;
  border-radius: 3px;
  font-size: 1.6rem;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #727171;
}

::placeholder {
  font-size: 14px;
  color: var(--color-gray-1);
}

img {
  max-width: 100%;
}
